[submodule "CandyCoat/OtterGui"]
	path = CandyCoat/OtterGui
	url = https://github.com/Ottermandias/OtterGui.git
[submodule "CandyCoat/ECommons"]
	path = CandyCoat/ECommons
	url = https://github.com/NightmareXIV/ECommons.git
[submodule "CandyCoat/Una.Drawing"]
	path = CandyCoat/Una.Drawing
	url = https://github.com/una-xiv/drawing.git
