name: PR Builder for CandyCoat

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: windows-2022

    env:
      Solution_Name: CandyCoat

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        quality: preview

    - name: Download Dalamud
      run: |
        Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/latest.zip -OutFile latest.zip
        Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"

    - name: Build with dotnet
      run: |
        dotnet restore
        dotnet build --configuration Release

    - name: Store artifacts
      uses: actions/upload-artifact@v4
      with:
        name: CandyCoat
        path: .\CandyCoat\bin\x64\Release\*
        if-no-files-found: error
        retention-days: 1

